@model IEnumerable<Laboratorio1_3P.Models.ClienteSqlPrueba>

@{
    ViewData["Title"] = "List of Clients SqlServer Prueba";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style_Index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.StockQuantity)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.StockQuantity)</td>
                        <td>
                            <a class="btn-icon-edit" asp-action="Edit" asp-route-id="@item.ProductId" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a> |
                            <a class="btn-icon-delete" asp-action="Delete" asp-route-id="@item.ProductId" title="Delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
